:root {
    --medium-gap: 16px;
    --small-gap: 8px;
    --lighter-black: rgb(150, 150, 150);
}

body {
    font-family: Verdana, Tahoma, sans-serif
}

#page-wrapper {
    display: flex;
}

#menu {
    flex: 0 0 200px;
    background-color: rgb(51, 51, 51);
}

#menu ul {
        list-style: none;
        margin: var(--medium-gap) 0 var(--medium-gap);
        padding: 0;
    }

#menu li {
        padding: 0 0 0 var(--medium-gap);
        margin-bottom: var(--small-gap);
    }

#menu li a {
            text-decoration: none;
            color: rgb(204, 204, 204);
            cursor: pointer;
        }

#menu li a:hover {
                color: white;
            }

#package-information {
    background-color: white;
    color: black;
}

#package-information > div {
        padding: var(--medium-gap);
        margin:  var(--medium-gap);
        border: 1px solid black;
        border-radius: var(--medium-gap);
    }

#package-information .title .header, #package-information .description .header, #package-information .dependencies .header {
            font-weight: bold;
        }

#package-information .title {
        margin-bottom: var(--medium-gap);
    }

#package-information .description {
        margin-bottom: var(--medium-gap);
    }

#package-information .dependencies {
        margin-bottom: var(--medium-gap);
    }

#package-information .dependencies .no-dependencies, #package-information .dependencies ul {
            margin-top: var(--small-gap);
        }

#package-information .dependencies .dependency {
            margin-bottom: var(--small-gap);
        }

#package-information .dependencies .dependency a {
                cursor: pointer;
            }

#package-information .dependencies .dependency a:hover {
                    color: var(--lighter-black);
                }
